*.swp
vim/.netrwhist
*.pyc
*.add.spl
*.netrwhist
dotfiles/byobu/.ssh-agent
dotfiles/vim/bundle/
dotfiles/vim/eclim/
dotfiles/vim/plugin/eclim.vim
# Has credentials that can't be added
dotfiles/sbt/0.13/allenai.sbt
